* {
    margin: 0;
    padding: 0;
    user-select: none;
 }

body{
    height:100vh;
    background-color:gray;
}

.sidebar{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 7%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
}

.sidebar p{
  position:relative;
  font-size: 150%;
  font-family:sans-serif;
  top: 5%;
  left: 20%;
  color: white;
}

 .sidebar.left {
    left: 0;
  }

  .sidebar.right {
    right: 0;
  }

  .toolButton{
    padding: 6px 8px 6px 25%;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    cursor: pointer;
    width: 50%;
  }

  .toolButton.last{
    bottom: 50px;
    position:absolute;
  }

  input {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

canvas {
    display: block;
    position:absolute;
    /*background-color: white;*/
    background-color: white;
    height: 100%;
    width: 86%;
    left: 7%;
    margin: 0;
    padding: 0;
    cursor: crosshair;
}

.top{
  background-color: transparent;
  pointer-events: none;
  opacity: 0.5;
  z-index: 1;
}